/* HEADER */

header {
  background-color: black;
  padding-bottom: 10px;
}

nav a.brand-logo > i {
  display: inline;
  font-size: 35px;
}

nav .brand-logo {
  color: #2BC2B6;
}

nav ul a:hover {
  background-color: #2BC2B6;
  color: black;
}

h1.header {
  margin-top: 70px;
  margin-bottom: 5px; 
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #2BC2B6;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  background-color: rgba(0, 0, 0, 0.4);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

blockquote {
  border-color: #2BC2B6;
  text-align: left;
}


/* Contacto */

.contacto {
  padding: 50px 0px;
}

form {
  padding: 20px 20px;
}

/* Footer */

footer.page-footer {
  margin: 0;
}

footer .material-icons {
  display: inline;
  margin-right: 10px;
  vertical-align: middle;
}
